# LASI 2019
# 0. Lightning Python Review 


 Instructors: Alfred Essa, Lalitha Agnihotri, Shirin Mojarad

### Learning Objectives


* 0.1 Perform basic computation in Python with built-in **datatypes** and **operations**

## 0.1 Built-in Data Types and Operations

Python's building blocks are five basic data types and corresponding operations. 

Python has several basic data types. We will focus on:


- *integer* (whole numbers such as -25 and 10300)
- *float* (numbers with decimal points such as 3.14159; sometimes expressed as exponents 1.0e8)
- *boolean* (which have the value True or False)


The following basic arithmetic operations can be performed on the basic data types

| Operator | Description      | Example | Result |
|----------|------------------|---------|--------|
| +        | addition         | 5 + 8   | 24     |
| -        | subtraction      | 9 - 3   | 6      |
| /        | division         | 7/2     | 3.5    |
| //       | integer division | 7//2    | 3      |
| %        | modulus          | 7%3     | 1      |
| **       | exponentiation   | 3**4    | 81     |
| *        | multiplication   | 2 * 3.1 | 6.2    |


Python also has logical operators: and, or, not

And comparison operators: >, <, >=, <=, ==, !=

And more....

### 0.11 Python as a Calculator

In [1]:
# multiplication with *
3.14159 * 5

15.70795

In [2]:
# note order of operations
3 + 5.1 * 2

13.2

In [3]:
# use parentheses to enforce your own sense of order
(3 + 5.1) * 2

16.2

In [4]:
# exponentiation requires double asterisks
3 ** 4

81

In [5]:
# unsurprisingly, division is done dashingly with a dash
32 / 11

2.909090909090909

In [6]:
# modulus operator gives remainder, or the dregs of life
32 % 11

10

In [7]:
# double // is called 'floor' division, rounds up to the nearest whole number
32 // 11

2

In [8]:
# boolean data type typically arise in the context of comparison statements
3 == 3.145

False

In [9]:
2 <= 5

True

In [10]:
(5 < 3) or (2 > 1)

True

In [11]:
(5 < 3) and (2 > 1)

False

### 0.12 Variables

In [13]:
# we can use variable to assign the result of an operation 
radius = 5
A = 3.14159 * radius**2 
A

78.53975

In [14]:
# python supports multiple assignments in a single line
x,y = 15,24

In [15]:
print(x)
print(y)

15
24

In [16]:
# note that integer 5 and string "5" are not of the same type; making this mistake in life can be tragic
5 == "5"

False

In [17]:
# we can check the type of any object 
type(5)

int

In [18]:
type("5")

str

In [19]:
# however, in python it's easily corrected with type casting
# here we are changing an object of type string to type integer
int("5")

5